$uw:      1921px;
$xl:      1680px;
$mac:     1440px;
$lt:      1350px;
$ls:      1280px;
$lg:      1199px;
$dt:      1100px;
$md:      991px;
$sm:      767px;
$tb:      600px;
$mb:      480px;
$mp:      400px;
$xs:      375px;
$xss:     360px;
$xxs:     350px;
$min:     320px;