$grass-color: #036e35;
$sky-color: #CAE4F4;
$white: #f2f9fe;
$white-second: #d6f0fd;
$roof-color: #A44A4A;
$building-color:#e6e5dc;// #EAE4E1;
$black: #000000;
$button-blue: #264eed;
$button-border: #081d70;
$door-active: #5690a3;
